<?xml version="1.0" encoding="UTF-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>

      <!--
      <authentication mode="Forms">
        <forms name=".ASPXFORMSAUTH" path="/" loginUrl="Login.aspx" defaultUrl="Home.aspx" timeout="1000" cookieless="UseCookies" enableCrossAppRedirects="true" domain="forms.localtest.me" requireSSL="false" />
      </authentication>

      <machineKey validationKey="113C59D44E77AB97AA8CF46E607A35D48DA14C9B2F8787A3E5716F27594ED8F8576201BBA0609F85D87C263ABAF6B9D919F1F259ABAAC16B96C6B318DB80C333" decryptionKey="B2DAC143D804E476B34427CD6D6A6C726B3B4755B649CB15B5FD46C1907F83A0" validation="SHA1" decryption="AES" compatibilityMode="Framework20SP1" />
      -->
      
      <compilation debug="true" targetFramework="4.0" />

    </system.web>

</configuration>
